{% extends './user-base.html' %}

{% block page_content %}
  <div class="container p-4">
    {% comment %}Cart Items: {{ items }}
    Total: {{ total }} {% endcomment %}
    <!-- card -->
    {% if not items %}
      <div class="alert alert-warning">Cart is empty</div>
    {% else %}
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Cart</h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.food.name }}</td>
                  <td>{{ item.food.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td class="text-right">
                    <a href="{% url 'enduser_remove_from_cart' item.id %}" class="btn btn-danger">Remove</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-right">
            <h3>Total: {{ total }}</h3>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a href="{% url 'enduser_clear_cart' %}">Clear Cart</a>
          <a href="{% url 'enduser_checkout' %}" class="btn btn-primary">Make Order</a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
