{% extends './owner-base.html' %}

{% load static %}

{{ items }}

{% block res_content %}
  <div class="container">
    <div class="w-full p-4">
      <a href="{% url 'ro_add_food' %}" class="w-full bg-primary text-light p-3">Add Food</a>
    </div>
    <h3 class="w-full p-3">Food List</h3>
    {% if not items %}
      <h3 class="w-full p-3">No Food Found</h3>
    {% else %}
      <table class="w-full table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Restaurant</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for food in items %}
            {% comment %} {{ food.address }} {% endcomment %}
            <tr>
              <th scope="row">{{ food.id }}</th>
              <td>{{ food.name }}</td>
              <td style="max-width: 100px; word-break: break-all;">{{ food.description }}</td>
              <td>{{ food.price }}</td>
              <td>{{ food.restaurant.name }}</td>

              <td>
                <img height="100px" width="auto" src="{% get_media_prefix %}{{ food.image }}" />
              </td>
              <!-- actions -->
              <td>
                <a href="{% url 'ro_edit_food' food.id %}" class="btn btn-primary text-light p-2">Edit</a>
                <a href="{% url 'ro_delete_food' food.id %}" class="btn btn-danger text-light p-2">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>

  <!-- list items -->
{% endblock %}
